.counter {
  font-size: 2rem;
  padding: 0.5rem;
}

.rank_title {
  padding: 10px;
  text-align: center;
}

.heart {
  color: red;
  font-size: 2rem;
}

.heartbroken {
  font-size: 2rem;
  color: black;
}

.increment {
  display: flex;
  justify-content: center;
}
