.rank_border {
  background-color: yellow;
  padding: 30px;
  margin: auto 0;
}

.rank_title {
  background-color: white;
  border: 1px solid green;
  margin: 5px;
  padding: 2px;
  text-align: center;
}

button {
  margin: 10px;
}

.heart {
  color: red;
  font-size: 2rem;
}

.heartbroken {
  font-size: 2rem;
}
